**Тема "Работа с данными в Pandas"**

**Задание 1.** Создание датафреймов authors и book

In [1]:
import pandas as pd

In [2]:
authors_data = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}
authors = pd.DataFrame(authors_data)

In [3]:
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [4]:
book_data = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
}
book = pd.DataFrame(book_data)
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

**Задание 2.** Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [5]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')

authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

**Задание 3.** Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [6]:
# первый вариант реализации через метод nlargest
top5 = authors_price.nlargest(5, "price")
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [7]:
# второй вариант через сортировку и получение 5ти строк с максимальными значениями
authors_price.sort_values(by="price", inplace=True, ascending=False)
top5 = authors_price.head(5)
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

**Задание 4.** Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [8]:
# первый вариант решения через группировку и метод agg
groupby = authors_price.groupby("author_name")
authors_stat = groupby.agg({"price": ["min", "max", "mean"]})

print(groupby)
print(authors_stat)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000274F187E490>
            price
              min  max        mean
author_name
Островский    290  370  330.000000
Тургенев      300  450  366.666667
Чехов         450  500  475.000000

In [9]:
# второй вариант решения: ищем отдельно максимальное, минимальное и среднее, а затем объединяем эти данные в датафрейме

authors_mean = groupby["price"].mean()
authors_min = groupby["price"].min()
authors_max = groupby["price"].max()

authors_stat = pd.DataFrame()
authors_stat["min_price"] = authors_min
authors_stat["max_price"] = authors_max
authors_stat["mean_price"] = authors_mean

print(authors_stat)

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000